# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.env
.venv/
env/
venv/

# VSCode / IDE
.vscode/
.idea/

# macOS
.DS_Store

# Streamlit
.streamlit/

# Logs, build
*.log
dist/
build/
*.egg-info/

# Pytest
.pytest_cache/

